* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 980px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 23%;
}
.col-4 {
  width: 33.3%;
}
html {
  scroll-behavior: smooth;
}
